@media (min-width: 1100px){
  .container {
    width: 95%;
  }
}

@media (min-width: 320px) and (max-width: 480px){
	.mobile{
		display: block;
	}

	.mobile-hide{
		display: none;
	}

	.logo{
		width: 100%;
	}

	.logo a{
		position: relative;
		left: 10%;
	}

	.arrow-down,.ico-nav{
		display: none;
	}

	ul.nav{
		margin-bottom: 0;
		margin-top: 0;
	}

	ul.nav li a{
		text-indent: inherit;
		width: auto;
	}

	.nav-tab li{
		margin: 0 5px;
		word-wrap: break-word;
		height: 100%;
		display: inline-table;
		margin-bottom: 5px;
	}

	.nav-tab li.active,
	.nav-tab li:hover{
		background: #7b7b7b;
	}

	.nav-tab li.active .sub-two li a,
	.nav-tab li .sub-two li:hover{
		background: transparent;
	}

	.sub-one li a:hover .arrow-down, .sub-two li a:hover .arrow-down {
		top: -8px;
		}

	.nav-tab li a{
		padding: 0;
	}

	ul.nav li.desc a{
		padding: 10px 15px;
	}

	ul.nav li.desc{
		border-left: 1px solid #eeeeee;
	}

	ul.nav li:last-child{
		border-right: 0;
	}

	section{
		padding: 20px;
	}

	.navbar-heade{
		height: 145px;
	}

	.navbar-heade .search{
		margin-top: 85px;
		margin-left: 14%;
	}

	.navbar-toggle{
		margin-top: 25px;
	}

	ul.nav-tabs li a{
		padding: 2px 10px;
	}

	ul.info{
		padding: 0;
	}

	ul.info.right{
		float: left;
		margin-bottom: 25px;
	}

	#table-search .wrap {
		overflow-y: hidden;
		overflow-x: auto;
	}
}