@font-face {
  font-family: 'open_sanslight_italic';
  src: url('../fonts/opensans-lightitalic-webfont.eot');
  src: url('../fonts/opensans-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/opensans-lightitalic-webfont.woff2') format('woff2'),
       url('../fonts/opensans-lightitalic-webfont.woff') format('woff'),
       url('../fonts/opensans-lightitalic-webfont.ttf') format('truetype'),
       url('../fonts/opensans-lightitalic-webfont.svg#open_sanslight_italic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'open_sanslight';
  src: url('opensans-light-webfont.eot');
  src: url('../fonts/opensans-light-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/opensans-light-webfont.woff2') format('woff2'),
       url('../fonts/opensans-light-webfont.woff') format('woff'),
       url('../fonts/opensans-light-webfont.ttf') format('truetype'),
       url('../fonts/opensans-light-webfont.svg#open_sanslight') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'open_sansbold';
    src: url('../fonts/opensans-bold-webfont.eot');
    src: url('../fonts/opensans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-bold-webfont.woff2') format('woff2'),
         url('../fonts/opensans-bold-webfont.woff') format('woff'),
         url('../fonts/opensans-bold-webfont.ttf') format('truetype'),
         url('../fonts/opensans-bold-webfont.svg#open_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sanssemibold';
    src: url('../fonts/opensans-semibold-webfont.eot');
    src: url('../fonts/opensans-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-semibold-webfont.woff2') format('woff2'),
         url('../fonts/opensans-semibold-webfont.woff') format('woff'),
         url('../fonts/opensans-semibold-webfont.ttf') format('truetype'),
         url('../fonts/opensans-semibold-webfont.svg#open_sanssemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}

html {
  position: relative;
  min-height: 100%;
}


body {
  margin-bottom: 45px;
  font-family: 'open_sanslight';
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 55px;
  border-bottom: 10px solid #1c1d1f;
}

body{
	background: #fff;
}

body.billing{
	background: #eeeeee;
}

ul.navbar-nav a{
	color: #fff;
}

.left{
	float: left;
}

.right{
	float: right;
}

.hide{
	display: none;
}

header, #bs-nav{
	background: rgba(208, 28, 20, 1);
	height: 12px;
}

header#top,.navbar-heade{
	background: url('../images/headers.png') repeat;
	height: 100%;
}
.navbar-heade{
	height: 95px;
}

#bs-nav{
	height: auto;
	font-weight: bold;
}

.nav-tab{
	display: table;
	padding: 0;
	width: 100%;
	transition:all 0.3s linear;
  -webkit-transition:all 0.3s linear;
  -moz-transition:all 0.3s linear;
  -ms-transition:all 0.3s linear;
  -o-transition:all 0.3s linear;
}
.nav-tab li,
.sub-one li,
.sub-two li{
	list-style-type: none;
	float: left;
	width: 16.5%;
	text-align: center;
}

.nav-tab li a{
	font-size: 18px;
	color: #1c1d1f;
	text-decoration: none;
	padding: 8px 15px;
}

.nav-tab li a.active,
.nav-tab li a:active,
.nav-tab li a:hover,
.nav-tab li.active a,
.sub-one{
	background: #7b7b7b;
	color: #fff;
}

.sub-one,
.sub-two{
	position: absolute;
	left: 15px;
	right: 15px;
	padding: 0;
	margin-top: 4px;
	display: none;
	z-index: 1;
}

/*.nav-tab li:hover .sub-one,*/
.nav-tab li.active .sub-one{
	display: block;
		transition:all 0.3s linear;
  -webkit-transition:all 0.3s linear;
  -moz-transition:all 0.3s linear;
  -ms-transition:all 0.3s linear;
  -o-transition:all 0.3s linear;
}

.sub-one li{
	padding: 8px 0px 8px 0px;
}

.sub-one li a{
	color: #fff;	
	position: relative;
}

.sub-one li a:hover{
	color: #d5d5d5;
}

.sub-two{
	background: #d5d5d5;
	color: inherit;
	position: absolute;
	display: none;
	left: 0;
	right: 0;
}

/*.sub-one li:hover .sub-two{
	display: block;
}*/

.sub-two li a{
	color: #1c1d1f!important;
	position: relative;
}

.sub-two li a:hover{
	background: inherit;
	color: #000;
	font-family: 'open_sansbold';
}
.sub-one li a:hover .arrow-down,
.sub-two li a:hover .arrow-down{
	display: block;
	top: -5px;
}
.sub-one li a .arrow-down,
.sub-two li a .arrow-down{
	position: absolute;
	left: 40%;
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 10px solid #7b7b7b;
	z-index: 1;
	top: 0;
	display: none;
}

.sub-one li a .arrow-down{
	bottom: -10px;
	left: 50%;
	top: inherit;
}

.nav-tab li.active .sub-two li a{
	background: transparent;
}

/* LOGIN PAGE */
.wrapper {	
	margin-top: 80px;
  margin-bottom: 80px;
}

.form-signin.form-horizontal .form-group{
	margin-right: 0;
	margin-left: 0;
	margin-bottom: 40px;
}

.form-signin {
  max-width: 438px;
  margin: 0 auto;
  text-align: right;
}

.form-signin .input-group-addon{
	background: rgba(208, 28, 20, 1) url('../images/sprite.png') no-repeat;
	padding: 0 25.5px;
	border-radius: 5px 1px 0px 5px;
	border-color: transparent;
}

.form-signin .input-group-addon.email{
	background-position: 11px 8px;
}

.form-signin .input-group-addon.password{
	background-position: 12px -28px;
}

.form-signin p{
	font-size: 20px;
	margin: 45px 0;
}

.form-signin-heading,
.checkbox {
  margin-bottom: 30px;
}

.checkbox-re {
	width: 25px;
	position: relative;
	float: left;
}

.checkbox-re label {
	cursor: pointer;
	position: absolute;
	width: 25px;
	height: 25px;
	top: 0;
	left: 0;
	background: #1c1d1f;
	border:1px solid #fff;
	border-radius: 5px;
}

.checkbox-re label span {
	margin-left: 0;
	position: absolute;
	width: 100px;
}

.checkbox-re label:after {
	opacity: 0;
	content: '';
	position: absolute;
	width: 9px;
	height: 5px;
	background: transparent;
	top: 8px;
	left: 7px;
	border: 3px solid #fff;
	border-top: none;
	border-right: none;

	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.checkbox-re label:hover::after {
	opacity: 0;
}

.checkbox-re input[type=checkbox]:checked + label:after {
	opacity: 1;
}

.form-control {
  position: relative;
  font-family: 'open_sanslight';
  font-size: 14px;
  height: auto;
  width: auto;
  padding: 5px;
}

select.form-control{
	padding: 5px 7px;
	width: auto;
	background-color: #fff;
	border-color: #ccc;
	color: #333;
}

select.form-control option{
	background: #fff;
}

select.form-control option:hover{
	background-color: #f5f5f5;
}

select.form-control:hover{
	background-color: #e6e6e6;
	border-color: #adadad;
}

.form-signin input[type="text"],
.form-signin input[type="password"]{
	background: #1c1d1f;
	border: transparent;
	color: #fff;
}

.form-signin .form-control{
	padding: 10px;
}

.form-signin .checkbox{
	float: left;
}

.btn-orange{
	background: rgba(208, 28, 20, 1);
	color: #fff;
	border: transparent;
	font-weight: bold;
	width: 152px;
	height: 45px;	
	font-size: 18px;
}

.has-error .input-group-addon{
	opacity: 0.9;
	background-color: none;
	border: none;
}

.navbar-toggle .icon-bar {
	background: #000;
}

ul.nav li{
	border-left: 1px solid #eeeeee;

}

ul.nav li:last-child{
	border-right: 1px solid #eeeeee;
}


ul.nav li a:hover{
	background-color: transparent;
	color: inherit;
}

ul.nav li.active .arrow-down,
ul.nav li:hover .arrow-down,
ul.nav li:hover .arrow-down
{
	position: absolute;
	left: 40%;
	width: 0; 
	height: 0; 
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;	
	border-top: 10px solid #fff;
}

ul.nav li .arrow-down{
	top: 0;
}

ul.nav li a{
	height: 50px;
	width: 60px;
	padding-top: 15px;
	padding-bottom: 15px;
	text-indent: 55px;
	overflow: hidden;
}
ul.nav li a span.ico-nav{
	background: url('../images/nav.png') no-repeat;
	height: 25px;
	width: 25px;
	position: absolute;
	top: 15px;
	left: 20px;
}

ul.nav li a span.executive{
	background-position: 0 0;
}

ul.nav li a span.executive:hover{
	background-position: 0 -25px;
}

ul.nav li a span.billing{
	background-position: -65px 0;
}
ul.nav li a span.billing:hover{
	background-position: -65px -25px;
}

ul.nav li a span.inventory{
	background-position: -122px 0;
}
ul.nav li a span.inventory:hover{
	background-position: -122px -25px;
}

ul.nav li a span.trolley{
	background-position: -182px 0;
}
ul.nav li a span.trolley:hover{
	background-position: -182px -25px;
}

ul.nav li a span.keys{
	background-position: -244px 0;
}
ul.nav li a span.keys:hover{
	background-position: -244px -25px;
}

ul.nav li a span.logout{
	background-position: -300px 0;
}
ul.nav li a span.logout:hover{
	background-position: -300px -25px;
}

ul.nav li.desc{
	border-left:0;
}

ul.nav li.desc a{
	width: auto;
	padding: 15px;
	font-family: 'open_sansbold';
}

ul.nav li.desc a:hover{
	color: #fff;
}

.tooltip-inner{
	background-color: #7b7b7b;
	padding: 5px 15px;
	font-family: 'open_sanslight';
	text-transform: uppercase;
}

.tooltip.bottom .tooltip-arrow{
	border-bottom-color: #7b7b7b;
}

.tooltip.bottom{
	margin-top: 5px;
}

.search{
	margin-top: 30px;
}

.search input[type="text"]{
	background: #D7D7D7;
	border-right: 0;
	height: 30px;
}

.search input[type="submit"],
.search button{
	background: rgba(208, 28, 20, 1) url('../images/search.png') no-repeat;
	border: 0;
	text-indent: 200px;
	overflow: hidden;
	width: 40px!important;	
	background-position: 8px 2px!important;
  height: 30px;
}

.search button:focus{
	border: 0;
}

.navbar-form .input-group>.form-control{
	width: auto;
}

.navbar-form .form-control:focus{
	border-color: transparent;
	outline: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

ul.info li{
	float:left;
	list-style-type: none;
}

ul.info li a,
.download{
	color: #808080;
	padding-left: 30px;
	margin-right: 15px;
	background: url('../images/sprite.png') repeat-y;
}

ul.info li a.email{
	background-position: 0 90px;
}

ul.info li a.download-data{
	background-position: 0 66px;
}

ul.info li a.date{
	background-position: 0 43px;
}

ul.info li a.note{
	background-position: 0 22px;
}

.download{
	background-position: 0 22px;
}

.billing-tabs {
	margin-right: 0;
	margin-left: 0;
	background-color: rgba(208, 28, 20, 1);
	border-radius: 7px;
	-webkit-box-shadow: none;
	box-shadow: none;
	position: relative;
	padding: 45px 15px 15px;
	margin: 0 -15px 15px;
	height: 76px;
}

.billing-tabs .head-title {
	position: absolute;
	top: 12px;
	left: 15px;
	font-size: 18px;
	color: #fff;
}

.billing-tabs ul li{

}
.tab-content{
	float: left;
	width: 100%;
	min-height: 80px;
}

.notification{
	position: fixed;
	z-index: 9999;
	right: 10px;
	top: 30px;
}

.c-table th,
.c-table td{
	text-align: center;
	position: relative;
}

.c-table tr.gray-dark{
	background: #7b7b7b;
	color: #fff;
}

.c-table tr.gray-dark:hover,
.c-table tr.gray-dark td:hover,
.c-table tr.gray-dark th:hover,
.table-hover.c-table>tbody>tr.gray-dark:hover>td, 
.table-hover.c-table>tbody>tr.gray-dark:hover>th{
	background-color: #7b7b7b;
	background: #7b7b7b;
	color: #fff;
	border-top: 1px solid transparent; 
}

.c-table tr.gray{
	background: #d5d5d5;
	color: #1c1d1f;
}

.c-table tr.gray:hover,
.c-table tr.gray td:hover,
.c-table tr.gray th:hover,
.table-hover.c-table>tbody>tr.gray:hover>td, 
.table-hover.c-table>tbody>tr.gray:hover>th{
	background-color: #d5d5d5;
	background: #d5d5d5;
	color: #1c1d1f;
	border-top: 1px solid transparent; 
}

.c-table tr.gray-dark .arrow-down{
	position: absolute;
	left: 50%;
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 10px solid #7b7b7b;
	bottom: -10px;
	z-index: 1;
}

.table-search th{
	background: rgba(208, 28, 20, 1);
	text-align: center;
	font-size: 14px;
	text-transform: uppercase;
	color: #fff;
	font-weight: bold;
}

.table-search>thead>tr>th{
	border-bottom: 0;
	font-family: 'open_sansbold';
}

.table-search a{
	/*color: inherit;*/
	font-weight: bold;
}

table.table-search tfoot td{
	background-color: #ADCAFF;
	font-weight: bold;
	border-top: 0;
	vertical-align: middle;
}

.table-striped>tbody>tr>td, .table-striped>tbody>tr>th{
	background: #d5d5d5;
	vertical-align: middle;
	font-family: 'open_sanssemibold';
}

.billing-detail{
	overflow: auto;
	margin-bottom: 25px;
}

.multiselect,.multiselect-container>li>a>label {
	font-family: 'open_sanslight';
}

/*Datatable*/
h3.title{
	font-size: 14px;
	font-family: 'open_sansbold';
}

#revenue_wrapper{
	margin-bottom: 25px;
	overflow: auto;
}

table.dataTable thead th,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting,
table.dataTable thead .sorting_desc{
	background-color: rgba(208, 28, 20, 1);
	border-bottom: 0;
	color: #fff;
	text-align: center;
	border-right: 1px solid transparent;
	vertical-align: middle;
	font-family: 'open_sansbold';
}

.dataTables_length,
.dataTables_filter,
.dataTables_info,
.dataTables_paginate{
	display: none;
}

table.dataTable tfoot td{
	background-color: #fff;
	font-family: 'open_sansbold';
}

#table-search .table{
	margin-bottom: 6px !important;
}

table.table{
	margin-bottom: 20px !important;
}
.nav-tabs {
	border-bottom: 0;
}

.btn-search{
	padding: 5px 20px;
	color: #fff;
	background: rgba(208, 28, 20, 1);
	border: 0;
}

ul.nav-tabs li{
	border-left: 0;
	border-bottom: 0;
}

ul.nav-tabs li:last-child {
	border-right: 0;
}

ul.nav-tabs li a{ 
	width: auto;
	height: auto;
	padding: 2px 65px;
	font-size: 18px;
	background-color: #8e201c;
	color: white;
	margin: 0 2px;
	text-indent: inherit;
}

/*ul.nav-tabs li a:hover,*/
ul.nav-tabs li.active a
{ 
	background-color: #eeeeee!important;
	color: #1c1d1f;
	border-bottom: 1px solid transparent;
}

.nav-tabs>li {
	margin-bottom: -2px;
}

.nav-tabs>li>a:hover {
	border-color: #eee #eee #eee;
	background-color: #eee!important;
}

.tab-content{
	padding: 15px 0px 0px 0px
}

.showhide{
	background: rgba(208, 28, 20, 1) url('../images/arrow.png') center center no-repeat;
	width: 100%;
	height: 15px;
	display: block;
  margin: 0 auto;
	position: relative;
	z-index: 1;
}

.showhide:hover{
	/*background-size: 95%;*/
}

.showhide.active{
	background: rgba(208, 28, 20, 1) url('../images/arrow_active.png') center center no-repeat;
}

#table-search .wrap{
	height:auto;
  
/*  overflow:hidden;*/
 /* transition:all 0.3s linear;
  -webkit-transition:all 0.3s linear;
  -moz-transition:all 0.3s linear;
  -ms-transition:all 0.3s linear;
  -o-transition:all 0.3s linear;*/
}

#table-search.collapsed .wrap{
  min-height:43px;
  height:43px;
  overflow: hidden;
}

footer{
	background: rgba(208, 28, 20, 1);
	height: 55px;
	margin-top: 20px;
	line-height: 45px;
	color: #fff;
	font-size: 12px;
}

footer h2{
	color: #fff;
	font-size: 18px;
	font-family: 'lato';
	margin-top: 24px;
}

footer ul{
	padding-left: 0;
}

footer ul li{
	list-style: square;
	font-size: 20px;
	color: #fff;
	line-height: 12px;
	text-align: left;
	margin-bottom: 15px;
	margin-left: 20px;
}

footer ul li a{
	font-weight: 300;
	color: #fff;
	font-size: 12px;
	font-family: 'lato';
}

footer ul li a:hover{
	text-decoration: none;
	color: #ccc;
}

footer .row{
	text-align: center;
}

footer .col-md-4{
	width: 23%;	
	display: inline-block;
	margin-top: 15px;
	float: none;
}

footer .col-md-4:last-child{
	position: relative;
	top: -28px;
}

footer .col-md-4:last-child h2{
	margin-top: 0;
}

.mobile{
	display: none;
}

.mobile-hide{
	display: block;
}